{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>Mercator reservations</h2>
    <div id="notifications">
    {# This is where calendar-init.js will place notifications for deleted events. #}
    </div>

    <div id="external-events">
        <p>If you are logged in, you can <strong>drag a room to the calendar</strong> to make a reservation and click your events to remove them.</p>

        <p>You can make reservations at most 1 week in advance. Without a reservation, you <strong>cannot</strong> come to Mercator.<br>
            Please only make a reservation for a place to <strong>study</strong>.
        </p>

        <p>Do <strong>not</strong> come to your reservation if you have any possibly COVID-related symptoms.</p>


        <div id="external-events-list" class="row {% if request.user.is_authenticated %}draggable{% endif %}">
            {% for room in rooms %}
                {# The `draggable` attribute is used in calendar-init.js to make the rooms draggable. #}
                <div class="fc-event col-2 {% if request.user.is_authenticated %}draggable{% endif %}" data-event='{ "title": "{{ room.name }}", "duration": "00:15", "editable": true, "extendedProps": { "room": {{ room.id }} } }'>{{ room }}</div>
            {% endfor %}
        </div>
    </div>

    <div id="calendar" data-events='{{ reservations|safe }}' data-csrf="{{ csrf_token }}"></div>

    <script src="{% static 'js/fullcalendar/core/main.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar/daygrid/main.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar/timegrid/main.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar/bootstrap/main.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar/interaction/main.min.js' %}"></script>
    <script src="{% static 'js/calendar-init.js' %}"></script>
{% endblock %}
